# Books Recommender System using clustering | Coollaborative based

In [349]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [350]:
books = pd.read_csv('Books.csv', sep=",", error_bad_lines = False, encoding='latin-1')

C:\Users\Asus\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [351]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,NaN,NaN,NaN,NaN,NaN,NaN
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,NaN,NaN,NaN,NaN,NaN,NaN

In [352]:
books.dropna(axis=1)

,ISBN,Book-Title,Year-Of-Publication,Image-URL-S,Image-URL-M
0,195153448,Classical Mythology,2002,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,2001,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,1991,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,1999,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,1999,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...
271355,440400988,There's a Bat in Bunk Five,1988,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,525447644,From One to One Hundred,1991,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,2004,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,192126040,Republic (World's Classics),1996,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,767409752,A Guided Tour of Rene Descartes' Meditations o...,2000,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [353]:
books.shape

(271360, 14)

In [354]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [355]:
books.drop('Image-URL-M', axis=1, inplace=True)

In [356]:
books.drop('Image-URL-S', axis=1, inplace=True)

In [357]:
books.drop('Unnamed: 8', axis=1, inplace=True)

In [358]:
books.drop('Unnamed: 9', axis=1, inplace=True)

In [359]:
books.drop('Unnamed: 10', axis=1, inplace=True)

In [360]:
books.drop('Unnamed: 11', axis=1, inplace=True)

In [361]:
books.drop('Unnamed: 12', axis=1, inplace=True)

In [362]:
books.drop('Unnamed: 13', axis=1, inplace=True)

In [363]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [364]:
books.shape

(271360, 6)

In [365]:
books.rename(columns={
    "Book-Title" : "title",
    "Book-Author" : "author",
    "Year-Of-Publication" : "year",
    "Publisher" : "publisher",
    "Image-URL-L" : "img-url"}, inplace = True)

In [366]:
books.head()

,ISBN,title,author,year,publisher,img-url
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [367]:
users = pd.read_csv('Users.csv', sep=",", error_bad_lines = False, encoding='latin-1')

In [368]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [369]:
users.shape

(278858, 3)

In [370]:
ratings = pd.read_csv('Ratings.csv', sep=",", error_bad_lines = False, encoding='latin-1')

In [371]:
ratings.head(5)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [372]:
ratings.shape

(1149780, 3)

In [373]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 6)
(278858, 3)
(1149780, 3)

In [374]:
ratings.rename(columns={
    "User-ID" : "user_id",
    "Book-Rating" : "rating"
}, inplace = True)

In [375]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [376]:
ratings['user_id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
271728        1
245123        1
234886        1
259466        1
187812        1
Name: user_id, Length: 105283, dtype: int64

In [377]:
ratings['user_id'].unique().shape

(105283,)

In [378]:
x = ratings['user_id'].value_counts() > 200

In [379]:
x[x].shape

(899,)

In [380]:
y = x[x].index

In [381]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            116122,  28634, 188951,  59727, 155916, 274808,  73681,   9856,
            268622,  44296],
           dtype='int64', length=899)

In [382]:
ratings = ratings[ratings['user_id'].isin(y)]

In [383]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [384]:
ratings.shape

(526356, 3)

In [385]:
books.head(2)

,ISBN,title,author,year,publisher,img-url
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [386]:
ratings_with_books = ratings.merge(books, on="ISBN")

In [387]:
ratings_with_books.head()

,user_id,ISBN,rating,title,author,year,publisher,img-url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [388]:
ratings_with_books.shape

(78797, 8)

In [389]:
num_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [390]:
num_rating.head()

                                               title  rating
0   Earth Prayers From around the World: 365 Pray...       3
1   Final Fantasy Anthology: Official Strategy Gu...       3
2   Flight of Fancy: American Heiresses (Zebra Ba...       1
3   Little Comic Shop of Horrors (Give Yourself G...       4
4                                       Mystery Mile       1

In [391]:
num_rating.rename(columns={
    "rating" : "num_of_rating"
},inplace=True)

In [392]:
num_rating.head()

                                               title  num_of_rating
0   Earth Prayers From around the World: 365 Pray...              3
1   Final Fantasy Anthology: Official Strategy Gu...              3
2   Flight of Fancy: American Heiresses (Zebra Ba...              1
3   Little Comic Shop of Horrors (Give Yourself G...              4
4                                       Mystery Mile              1

In [393]:
ratings_with_books.head()

,user_id,ISBN,rating,title,author,year,publisher,img-url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [394]:
final_rating = ratings_with_books.merge(num_rating, on='title')

In [395]:
final_rating.head(2)

,user_id,ISBN,rating,title,author,year,publisher,img-url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [396]:
final_rating.shape

(78797, 9)

In [397]:
final_rating = final_rating[final_rating['num_of_rating']>=50]

In [398]:
final_rating.sample(10)

,user_id,ISBN,rating,title,author,year,publisher,img-url,num_of_rating
9458,155147,068484477X,0,STONES FROM THE RIVER,Ursula Hegi,1997,Touchstone,http://images.amazon.com/images/P/068484477X.0...,131
1896,162639,014025448X,10,At Home in Mitford (The Mitford Years),Jan Karon,1996,Viking Books,http://images.amazon.com/images/P/014025448X.0...,76
4645,136382,074343627X,3,Dreamcatcher,Stephen King,2001,Pocket,http://images.amazon.com/images/P/074343627X.0...,75
6060,178667,051513287X,0,Face the Fire (Three Sisters Island Trilogy),Nora Roberts,2002,Jove Books,http://images.amazon.com/images/P/051513287X.0...,99
250,56856,014100018X,0,Chocolat,Joanne Harris,2000,Penguin Books,http://images.amazon.com/images/P/014100018X.0...,59
14457,136139,1558745157,0,The Lost Boy: A Foster Child's Search for the ...,Dave Pelzer,1997,Health Communications,http://images.amazon.com/images/P/1558745157.0...,51
9291,13552,068484267X,0,Angela's Ashes: A Memoir,Frank McCourt,1999,Scribner,http://images.amazon.com/images/P/068484267X.0...,83
9468,194600,068484477X,9,STONES FROM THE RIVER,Ursula Hegi,1997,Touchstone,http://images.amazon.com/images/P/068484477X.0...,131
12161,16634,015100692X,9,The Crimson Petal and the White,Michel Faber,2002,Harcourt,http://images.amazon.com/images/P/015100692X.0...,54
10992,85526,1590400364,3,The Hundred Secret Senses,Amy Tan,2001,Phoenix Audio,http://images.amazon.com/images/P/1590400364.0...,89

In [399]:
final_rating.shape

(5886, 9)

In [400]:
final_rating.drop_duplicates(['user_id','title'], inplace = True)

In [401]:
final_rating.shape

(5852, 9)

In [402]:
book_pivot = final_rating.pivot_table(columns='user_id', index='title',values='rating')

In [403]:
book_pivot

user_id,254,2276,2766,2977,3363,4017,6242,6251,6323,6543,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
"A Child Called \It\"": One Child's Courage to Survive""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Fine Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
A Painted House,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
A Patchwork Planet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
A Widow for One Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Tale of the Body Thief (Vampire Chronicles (Paperback)),NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Turtle Moon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
"Welcome to the World, Baby Girl!",NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What Looks Like Crazy On An Ordinary Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What to Expect When You're Expecting (Revised Edition),NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [404]:
book_pivot.shape

(70, 810)

In [405]:
book_pivot.fillna(0, inplace=True)

In [406]:
book_pivot

user_id,254,2276,2766,2977,3363,4017,6242,6251,6323,6543,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
"A Child Called \It\"": One Child's Courage to Survive""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Fine Balance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Painted House,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Patchwork Planet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Widow for One Year,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Tale of the Body Thief (Vampire Chronicles (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Turtle Moon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Welcome to the World, Baby Girl!",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
What Looks Like Crazy On An Ordinary Day,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
What to Expect When You're Expecting (Revised Edition),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [407]:
from scipy.sparse import csr_matrix

In [408]:
book_sparse = csr_matrix(book_pivot)

In [409]:
book_sparse

<70x810 sparse matrix of type '<class 'numpy.float64'>'
	with 1480 stored elements in Compressed Sparse Row format>

In [410]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [411]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [412]:
print(book_pivot.shape)

(70, 810)

In [413]:
distance, suggestion = model.kneighbors(book_pivot.iloc[50,:].values.reshape(1,-1), n_neighbors=6)

In [414]:
distance

array([[ 0.        , 45.98912915, 46.84015371, 47.39198244, 47.78074926,
        48.32183771]])

In [415]:
suggestion

array([[50, 63,  3, 56, 18, 49]], dtype=int64)

In [416]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['The Color of Water: A Black Man's Tribute to His White Mother',
       'The Reef', 'A Patchwork Planet', 'The Kiss', 'Cry Wolf',
       'The Clinic (Alex Delaware Novels (Paperback))'],
      dtype='object', name='title')

In [417]:
book_pivot.index[3]

'A Patchwork Planet'

In [418]:
book_pivot.index

Index(['A Child Called \It\": One Child's Courage to Survive"',
       'A Fine Balance', 'A Painted House', 'A Patchwork Planet',
       'A Widow for One Year', 'All I Really Need to Know',
       'Angela's Ashes: A Memoir',
       'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
       'At Home in Mitford (The Mitford Years)', 'Atonement : A Novel',
       'Bag of Bones', 'Breath, Eyes, Memory', 'Breathing Lessons',
       'Bridget Jones's Diary', 'Call of the Wild',
       'Chicken Soup for the Soul (Chicken Soup for the Soul)',
       'Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))',
       'Chocolat', 'Cry Wolf', 'Degree of Guilt', 'Dreamcatcher',
       'Face the Fire (Three Sisters Island Trilogy)', 'Fingersmith',
       'Flesh and Blood',
       'Forever... : A Novel of Good and Evil, Love and Hope',
       'Full Tilt (Janet Evanovich's Full Series)', 'Girl in Hyacinth Blue',
       'Harry Potter and the Order of the Phoenix (Book 5)',
       'Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))',
       'Hideaway', 'High Fidelity', 'Hornet's Nest', 'How to Be Good',
       'Key of Light (Key Trilogy (Paperback))',
       'Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies',
       'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships',
       'Morality for Beautiful Girls (No.1 Ladies Detective Agency)',
       'Night Sins', 'One True Thing',
       'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
       'Purity in Death', 'Red Storm Rising', 'Rising Tides',
       'STONES FROM THE RIVER', 'Snow Falling on Cedars',
       'Tears of the Giraffe (No.1 Ladies Detective Agency)',
       'That Camden Summer', 'The Bridges of Madison County',
       'The Celestine Prophecy (Celestine Prophecy)',
       'The Clinic (Alex Delaware Novels (Paperback))',
       'The Color of Water: A Black Man's Tribute to His White Mother',
       'The Crimson Petal and the White', 'The Devil Wears Prada : A Novel',
       'The Firm', 'The Girls' Guide to Hunting and Fishing',
       'The Hundred Secret Senses', 'The Kiss', 'The Kitchen God's Wife',
       'The Lost Boy: A Foster Child's Search for the Love of a Family',
       'The Lost World',
       'The No. 1 Ladies' Detective Agency (Today Show Book Club #8)',
       'The Perfect Storm : A True Story of Men Against the Sea',
       'The Rainmaker', 'The Reef', 'The Stone Diaries',
       'The Tale of the Body Thief (Vampire Chronicles (Paperback))',
       'Turtle Moon', 'Welcome to the World, Baby Girl!',
       'What Looks Like Crazy On An Ordinary Day',
       'What to Expect When You're Expecting (Revised Edition)'],
      dtype='object', name='title')

In [419]:
book_name = book_pivot.index

In [420]:
import pickle 
pickle.dump(model, open('artifacts/model.pkl','wb'))
pickle.dump(book_name, open('artifacts/book_name.pkl','wb'))
pickle.dump(final_rating, open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot, open('artifacts/book_pivot.pkl','wb'))

In [421]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6)
    
    for i in range(len(suggestion)):
        books = book_pivot.index[suggestion[i]]
        for j in books: 
            print(j)

In [422]:
book_name = "Bridget Jones's Diary"
recommend_book(book_name)

Bridget Jones's Diary
A Fine Balance
The Kiss
A Patchwork Planet
Cry Wolf
The Reef